/*----------- country Page Styling ---------------*/

.country-page {
    box-sizing: border-box;
    padding: 5vh 5vw;
    display: grid;
    grid-template: 40px 1fr / 1fr;
    gap: 10%;
    overflow: auto;
}
.navigations{
    display: flex;
    justify-content: space-between;
}

.icon-link {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 0px 5px;
    cursor: pointer;
    font-weight: 600;
}

.icon-link img{
    height: 1.2rem;
}




.main-country {
    display: grid;
    grid-template: 1fr / 40% 50%;
    gap: 30px;
    justify-content: space-between;
}

.country-flag-image {
    justify-self: start;
    width: 100%;
    max-width: 500px;
    min-height: 320px;
}

.country-infos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.name {
    font-size: 1.8rem;
    font-weight: 800;
}

.country-infos-main {
    justify-self: center;
    display: flex;
    gap: 5vw;
}

.info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.info-title {
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
}


.country-infos-aside {
    display: grid;
    grid-template: 1fr / 128px 1fr;
    gap: 10px;
}

.border-countries {
    gap: 10px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.country-link {
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    text-decoration: none;
}

.country-link p {
    margin: 0;
}


/* ---- Responsive Design ----- */
@media screen and (max-width:1140px) {
    .country-page {
        padding: 2vh 2vw;
        grid-template: 10% 1fr / 1fr;
        gap: 5vh;
    }

    .main-country {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
    }

    .country-flag-image {
        max-width: unset;
    }


    .country-infos-main {
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .country-infos-aside {
        display: grid;
        grid-template: 40px 1fr / 1fr;
        gap: 0px;
        align-items: center;
    }
    .border-countries {
        padding: 0px;
    }

}
