/* ---------- countries page ---------*/
/* main content styling */

.main-countries {
    padding: 5vh 5vw;
    display: grid;
    grid-template: 60px 1fr / 1fr;
    gap: 5vh;
    overflow: hidden;
}

/* search and dropdown container */
.search-and-filters {
    display: flex;
    justify-content: space-between;
}

.search-and-filters * {
    font-weight: 600;
}

/*input*/
.search-form {
    box-sizing: border-box;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
}

#search-input {
    all: unset;
}

.light #search-input {
    color: var(--Light-Mode-Text);
}

.dark #search-input {
    color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

.light #search-input::placeholder {
    color: var(--Light-Mode-Input);
    opacity: .8;
    font-size: 1rem;
    font-weight: 600;
}

.dark #search-input::placeholder {
    color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
    opacity: .8;
    font-size: 1rem;
    font-weight: 600;
}

#search-icon {
    width: 1.2rem;
    height: 1.2rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/*dropdown*/

.filters-dropdown {
    width: 200px ;
    height: 60px;
}


.select-header {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    cursor: pointer;
}

.select-body.visible {
    display: flex;
}

.select-body.hidden {
    display: none;
}

.select-body {
    box-sizing: border-box;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    position: relative;
    transform: translateY(5px);
    z-index: 1;
}


/* styling cards container */

.cards {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: space-between;
    gap: 50px;
}

.country-card {
    height: 418px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-description {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.country-name {
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.country-flag {
    width: 100%;
    height: 100%;
}

.info-title {
    font-weight: 600;
    text-transform: capitalize;
}

/* --------------------- */

/* mobile design */
@media screen and (max-width:1024px){ /* Tablet View */
    .main-countries {
        grid-template: 180px 1fr / 1fr;
        overflow: auto;
    }

    /* search and dropdown container */
    .search-and-filters {
        flex-direction: column;
    }

    /*input*/
    .search-form {
        width: 100%;
    }


    .cards {
        overflow: unset;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width:768px) {
    .cards {
        justify-content: center;
    }
}

@media screen and (max-width:350px) {
    .cards {
        justify-content: center;
    }
    .cards {
        grid-template-columns: repeat(auto-fill, 280px);
    }
}

