@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Background: hsl(207, 26%, 17%);
  --Light-Mode-Text: #111517;
  --Light-Mode-Input: #858585;
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --Dark-Mode-Text-and-Light-Mode-Elements: #ffffff;
}

button {
  /* general button style */
  background: none;
  border: none;
  cursor: pointer;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

body,
#root,
.App {
  width: 100vw;
  height: 100vh;
}
.App{
  display: grid;
  grid-template: 10vh 1fr / 1fr;
}

.light.App{
  background-color: var(--Light-Mode-Background);
}
.dark.App{
  background-color: var(--Dark-Mode-Background);
}

/* text color in themes */
.light p, .light button {
  color: var(--Light-Mode-Text);
}
.dark p, .dark button{
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}
/* background colors in themes */
.light .element{
  background-color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
  filter: drop-shadow(0 0 1px var(--Light-Mode-Input));
}
.dark .element{
  background-color: var(--Dark-Mode-Elements);
}


/* header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 2;
}
#title{
  font-size: 1.8rem;
  font-weight: 800;
}

.theme-switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#theme-button {
  width: 1.2rem;
  height: 1.2rem;
  
}
.light #theme-button{
  background: url('./icons/moon-outline.svg') no-repeat;
  background-size: 100% 100%;
}
.dark #theme-button{
  background: url('./icons/moon.svg') no-repeat;
  background-size: 100% 100%;
}


/*-- responsive design ---*/

@media screen and (max-width:550px) {
  #title{
    font-size: 1.2rem;
    font-weight: 800;
  }
}
@media screen and (max-width:350px) {
  #title{
    font-size: 1rem;
  }
}
